@media(max-width:1060px){
	.nav-menu{
		display: none;
	}
}

@media(max-width: 1000px){
	.responsibility h1{
		font-size: 70px;
	}
}


@media(max-width: 864px){
	.sub-nav-wrap{
		display: none;
	}
	.screen .sroll-ic {
		bottom: 60px;
	}
}
@media(max-width: 724px){
	.responsibility h1{
		font-size: 62px;
	}
}

@media(max-width: 640px){
	.mob{
		display: block;
	}
	.wrap{
		padding: 140px 0 0;
	}
	/* NAV STYLES*/
	 .top-navbar .recall{
		display: none;
	}
	.sidemenu-wrap{
		max-width: 580px;
		width: 100%;
		text-align: left;
		right: 0;
		left: -600px;
	}
	.side-nav>ul{
		padding: 0 50px 0 53px;
	}
	.side-nav>ul>li{
		position: relative;
		width: auto;
		border: none;
	    padding: 0 0 50px;
	    margin: 0 0 35px;
	}
	.side-nav>ul>li:before{
		 content: "";
		 position: absolute;
		 left: 0;
		 bottom: 0;
		 height: 1px;
		 width: 107px;
		 background:#666;
	}
	.side-nav>ul>li>a{
		font-size: 38px;
	}
	.side-nav li>ul{
		padding: 55px 0 0;
	}
	.side-nav li>ul>li{
		margin:0 0 55px;
	}
	.side-nav li .active a{
		border-bottom: 3px solid #EF253F;
	}
	.side-nav li>ul a{
		font-size: 30px;
		color: #BBB;
	}
	.sidemenu .recall {
	    background: #828689;
	    margin: 0 0 60px;
	    padding: 10px 29px;
	}
	.sidemenu footer{
		text-align: center;
	}
	.sidemenu .recall:hover{
		background: #A6A9AB;
	}
	.sidemenu .social li {
	    max-width: 145px;
	    width: 100%;
	    height: 145px;
	}
	.sidemenu .social .fa{
		font-size: 86px;
	}
	.sidemenu .selected-region,
	.sidemenu .search-form fieldset,
	.sidemenu .recall {
		max-width: 465px;
	    width: 100%;
	    height: 121px;
	    font-size: 38px;
	}
	.sidemenu .arrow{
		display: none;
	}
	.sidemenu .search-form input {
    width: 100%;
    max-width: 380px;
    height: 100px;
	}
	.sidemenu .search-form input::-webkit-input-placeholder {
		font-size: 24px;
	}
	.sidemenu .search-form input:-moz-placeholder {
	    font-size: 24px;
	}
	.sidemenu .search-form input::-moz-placeholder {
	    font-size: 24px;
	}
	.sidemenu .search-form input:-ms-input-placeholder {
	    font-size: 24px;
	}

	/*Career STYLE*/
	.sidebar {
		width: 100%;
	}
	.sidebar .filter{
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
	.customSelect {
	    max-width: 590px;
	    width: 100%;
	}
	.customSelect .selectedValue{
	    height: 95px;
	}
	.post, .page-template-page-career .post{
		padding:50px 0 60px;
	}
	.page-template-page-career .post h2 {
	    font-size: 40px;
        padding: 0 0 30px;	
	    text-align: center;
	}
	.page-template-page-career  .post .location{
	    font-size: 30px;
	}
	.page-template-page-career .post .post-date {
	    font: 400 26px "Roboto";
	}
	.page-template-page-career .post h3{
		position: relative;
		font-size: 30px;
		border: none;
		margin: 0 0 22px;
	}
	.page-template-page-career .post h3:before{
		content: "";
		position: absolute;
		height: 3px;
		width: 69px;
		background: #EF253F;
		left: 0;
		bottom: 0;
	}
 	.page-template-page-career .hideSection > section {
	    margin: 0 0 65px;
	}
	.page-template-page-career .post ul li{
		margin: 0 0 27px;
	}
	.page-template-page-career .post ul li,
	.page-template-page-career .post p{
		font-size: 30px;
	}
	.page-template-page-career .post ul li:before{
	    top: 21px;
	    width: 5px;
	    height: 5px;
	}
	.page-template-page-career .post .hideSection ul{
		margin: 0 0 50px;
	}
	.page-template-page-career .post .hideSection li{
		margin: 0 ;
	}
	.page-template-page-career .btn-default {
		height: 58px;
		max-width: 390px;
		width: 100%;
		font-size: 27px;
		line-height: 41px;
	}
	.page-template-page-career .post .btn-success{
		height: 95px;
		max-width: none;
		font-size: 32px;
		line-height: 3;
	}
	.page-template-page-career .post .btn-close,
	.btn-close {	    
		display: block;
	    width: 92px;
	    height: 92px;
	    background: url(../img/cls-btn-mob.png) center center no-repeat;
	}
	.load-more, a.load-more {
		font-size: 30px;
		max-width: 304px;
	}
	.section-content .page-numbers li a,
	.section-content .page-numbers li span,
	.section-content .page-numbers .next,
	.section-content .page-numbers .prev {
	    height: 69px;
	    width: 69px;
        font-size: 35px;
    	line-height: 2;
	}
	/*--/-/--*/
	.screen {
		height: 70px!important;
	}
	.screen h1{
		position: relative;
		text-align: center;
		font: 400 30px "Roboto";
		padding: 0 0 10px;
		color: #333;
		transform: translate(0,0);
		text-transform: none;
		left: 0;
		top: 0;
	}
	.screen:after{
		display: none;
	}
	.screen h1:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 123px;
		height: 4px;
		background: #EF253F;	
	}
	.screen .sroll-ic{
		display: none;
	}
	#maximage{
		display: none !important;
	}
	.about .post{
		text-align: center;
		    padding: 60px 0;
	}
	.about .post h3 {
	    font: 500 50px "Roboto";
	}
	.about .post img{
		margin: 0 auto 55px;
	}
	.about .post  p{
		font:300 30px "Roboto";
		margin: 0 0 30px;
	}
	.about .post .dash{
		display: inline-block;
	}
	.about .post  p a{
		font: 300 30px "Roboto";
	}
	.about .distribution {
		display: none;
	}

/*--------QA STYLE---------------*/
	.page-template-page-quality-management .section-content{
		padding: 0;
	}
	.page-template-page-quality-management .section-post {
		margin: 0 0 90px;
	}
	.page-template-page-quality-management .excerpt p{
		font-size: 37px;
	}
	.page-template-page-quality-management .section-content h2{
		font-size: 75px;
		margin: 0 0 45px;
	}
	.page-template-page-quality-management .section-content p{
		font-size: 30px;
	}
	.page-template-page-quality-management .section-content h2 span{
		font: 400 30px "Roboto";
	}
	.page-template-page-quality-management .section-content footer{
		padding: 65px 0 124px;
		background: url(../img/qa-bg-mob.jpg) no-repeat;
		background-size: cover;
	}
	.page-template-page-quality-management .border:after{
		width: 94px;
		top: 34px;
	}
	.page-template-page-quality-management .section-content footer strong{
		font: 300 45px "Roboto";
		display: inline-block;
		margin: 0 0 35px;
	}
	.page-template-page-quality-management .section-content footer strong span{
		font:500 100px "Roboto";
		color: #007F5F;
		line-height: 1;
		display: block;
		margin: 0 0 15px;
	}
	.page-template-page-quality-management .section-content footer p{
		font-size: 37px;
	}

	/*responsibility styles*/
	.page-template-page-social-responsibility p{
		font-size: 37px;
	}
	.page-template-page-social-responsibility .section-content .btn{
		font-size: 32px;
		max-width: 589px;
		width: 100%;
		height: 93px;
		line-height: 2.6;
	}
}
 