@media(max-width:1060px){
	.nav-menu{
		display: none;
	}
}

@media(max-width: 1000px){
	.responsibility h1{
		font-size: 70px;
	}
}


@media(max-width: 864px){
	.sub-nav-wrap{
		display: none;
	}
	.screen .sroll-ic {
		bottom: 60px;
	}
}
@media(max-width: 724px){
	.responsibility h1{
		font-size: 62px;
	}
}

@media(max-width: 640px){
	.mob{
		display: block;
	}
	.wrap{
		padding: 140px 0 0;
	}
	.screen {
		height: 70px!important;
	}
	.screen h1{
		position: relative;
		text-align: center;
		font: 400 30px "Roboto";
		padding: 0 0 10px;
		color: #333;
		transform: translate(0,0);
		text-transform: none;
		left: 0;
		top: 0;
	}
	.screen:after{
		display: none;
	}
	.screen h1:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 123px;
		height: 4px;
		background: #EF253F;	
	}
	.screen .sroll-ic{
		display: none;
	}
	#maximage{
		display: none !important;
	}
	.about .post{
		text-align: center;
		    padding: 60px 0;
	}
	.about .post h3 {
	    font: 500 50px "Roboto";
	}
	.about .post img{
		margin: 0 auto 55px;
	}
	.about .post  p{
		font:300 30px "Roboto";
		margin: 0 0 30px;
	}
	.about .post .dash{
		display: inline-block;
	}
	.about .post  p a{
		font: 300 30px "Roboto";
	}
	.about .distribution {
		display: none;
	}

/*--------QA STYLE---------------*/
	.page-template-page-quality-management .section-content{
		padding: 0;
	}
	.page-template-page-quality-management .section-post {
		margin: 0 0 90px;
	}
	.page-template-page-quality-management .excerpt p{
		font-size: 37px;
	}
	.page-template-page-quality-management .section-content h2{
		font-size: 75px;
		margin: 0 0 45px;
	}
	.page-template-page-quality-management .section-content p{
		font-size: 30px;
	}
	.page-template-page-quality-management .section-content h2 span{
		font: 400 30px "Roboto";
	}
	.page-template-page-quality-management .section-content footer{
		padding: 65px 0 124px;
		background: url(../img/qa-bg-mob.jpg) no-repeat;
		background-size: cover;
	}
	.page-template-page-quality-management .border:after{
		width: 94px;
		top: 34px;
	}
	.page-template-page-quality-management .section-content footer strong{
		font: 300 45px "Roboto";
		display: inline-block;
		margin: 0 0 35px;
	}
	.page-template-page-quality-management .section-content footer strong span{
		font:500 100px "Roboto";
		color: #007F5F;
		line-height: 1;
	}
	.page-template-page-quality-management .section-content footer p{
		font-size: 37px;
	}
}
 