.block{display: block !important;}
.inline{display: inline !important;}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px 'Roboto', sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; color: #858585;}
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset , input, option, select               { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font: 300 12px 'Roboto'; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
a:focus{
	outline: none;
}

a, .btn, button, input[type="button"]{
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

a.btn-danger,
.btn-danger{
	background: #EF253F;
	border: none;
	color: #fff;
}

.btn-danger:hover{
	background: #D52038;
}

.text-danger{
	color: #EF253F;
}


/*-------------------------------------WRAP-----------------------------------------*/
/*Slider pagination*/
.slider-pagination{
	position: relative;
    left: 0;
    top: 90%;
    text-align: center;
}
.slider-pagination ul{
	margin: 0 0 0 -60px;
	overflow: hidden;
}
.slider-pagination li{
	position: relative;
	display: inline-block;
	margin: 0 0 0 60px;
}
.slider-pagination a{
	position: relative;
	width: 17px;
	height: 17px;
	border: 2px solid #CACAD9;
	border-radius: 50%;
	display: inline-block;
}
.slider-pagination li:before,
.slider-pagination li:after, 
.slider-pagination a:after {
	content: "";
	position: absolute;
	display: inline-block;	
}
.slider-pagination li:before,
.slider-pagination li:after{
	width: 62px;
	height: 2px;
	background:  #CACAD9;
	top: 8px;
	left: 17px;
}
.slider-pagination .active:after{
	background: #E7453A;
	width: 3px;
}
.slider-pagination li:last-child:before,
.slider-pagination li:last-child:after{
	display: none;
}
.slider-pagination a:after{
	width: 5px;
	height: 5px;
	top: 4px;
	left: 4px;
	background: #4C5256;
	border-radius: 50%;
}
.slider-pagination .activeSlide a{
	border-color: #E7453A;
}
/*-------------------------------------HEADER---------------------------------------*/


/*--------------------------------------NAV-----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar-brand{
	height: auto;
	padding: 10px 0 0;
}
 
.nav-menu ul{
	padding: 15px 0 0;
	line-height: 1.5;
}

.top-navbar{
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	padding: 19px 25px;
}

.bars-btn{
	float: right;
	background: transparent;
	margin: 0 5px;
}

.fa-bars{
	color: #9797A6;
	font-size: 28px;
	padding: 5px;
}

.nav-menu{
	text-align: center;
}

.top-navbar .nav-menu li{
	display: inline-block;
	margin:  0 25px;
}

.top-navbar .nav-menu a{
	font-size: 15px;
	color: #333;
	padding: 0 0 2px;
	border: none;
}

.top-navbar .nav-menu a:hover{
	background: none;
}

.top-navbar .active{
	background: transparent;
}

.nav-menu .active a,
.nav-menu a:hover{
	border-bottom: 1px solid #ef2741;
}


/*SEARCH BOX STYLES*/

.searchbox{
	float: right;
	position: relative;
    min-width: 45px;
    height: 38px;
    overflow: hidden;
    width: 45px;
	border-radius: 4px;
	border: 1px solid #888B8E;
}
.animate{	
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -ms-transition: width 0.8s;
    transition: width 0.8s;
}
.searchbox-input{
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    max-height: 39px;
    margin: 0;
    padding: 9px 40px 9px 10px;
    font-size: 15px;
    overflow: hidden;
}

.searchbox-input::-webkit-input-placeholder {
    color: #888B8E;
}

.searchbox-input:-moz-placeholder {
    color: #888B8E;
}

.searchbox-input::-moz-placeholder {
    color: #888B8E;
}

.searchbox-input:-ms-input-placeholder {
    color: #888B8E;
}

.searchbox-icon,
.searchbox-submit{
    width: 45px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #9797A6;
    text-align: center;
    border-radius: 0;
    background: transparent;
    line-height: 3;
    border: none;
}

.searchbox-icon:hover{
	background: #888B8E;
	color: #fff;
}

.searchbox .fa-search{
	font-size: 18px;
}

.searchbox-open{
    width: 150px;
}

/*-------------------------*/
.top-navbar .recall {
	float:right;
	border: 1px solid #EE253F;
	color: #EE253F;
	padding: 9px 10px;
	font: 14px 'Roboto',sans-serif;
	margin-right: 15px;
	max-height: 38px;
	width: 142px;
	overflow: hidden;
}

.recall:hover{
	background: #EF253F;
	color: #fff;
}

.recall .fa{
	display: none;
	font-size: 20px;
}

.top-navbar .small-section{
	width: 45px;
	height: 38px;
}

.small-section .fa{
	margin: 0 auto;
	display: block;
}

.small-section span{
	display: none;
}

/* SIDEMENU  */

.sidemenu-wrap{
	width: 256px;
	background: #4c5256;
	position: fixed;
	z-index: 2000;
	right: -256px;
	text-align: center;
	height: 100%;
}

.sidemenu{
	position: relative;
	padding: 0 0 283px;
	height: 100%;
}

.wrap-close{
	display: block;
	text-align: right;
	padding: 25px 30px 0 0;
	margin: 0 0 10px;
}

.wrap-close a{
	display: inline-block;
	height: 28px;
	width: 26px;
	background:  url(../img/close-btn.png) no-repeat;
}

.side-nav{
	margin: 0 0 30px;
	padding: 0 0 30px;
}

.side-nav li {
	width: 180px;
	padding: 19px 0 ;
	margin: 0 auto;
	border-bottom: 1px solid #666;
}

.side-nav li:last-child{
	border: none;
}

.side-nav li a{
	font: 18px 'Roboto', sans-serif;
	color: #ddd;
}

.side-nav li a:hover{
	color: #EF253F;
}

/*Sidemenu Footer Section*/

.sidemenu footer{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #444;
	padding: 30px 0 0;
}

.sidemenu .recall{
	background: #EF253F;
	margin: 0 0 25px;
	padding: 10px 29px;
	color: #fff;
}

.sidemenu .recall:hover{
	background: #D01C34;
}

.sidemenu .input-group{
	width: 100%;
}

.sidemenu .search-form{
	margin: 0 0 20px;
}

.sidemenu .search-form fieldset{
	border: 1px solid #c0c2c3;
	display: inline-block;
	border-radius: 4px;
	padding: 10px 8px;
}

.sidemenu .search-form input{
	width: 140px;
}

.sidemenu .search-form input,
.sidemenu .search-form button{
	background: transparent;
	border: none;
	color: #c0c2c3;
	display: inline-block;
	font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form .search-icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background:  url(../img/search-icon.png);
	text-indent: -9999px;
}

.sidemenu .search-form input::-webkit-input-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input:-moz-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input::-moz-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input:-ms-input-placeholder {
    font: 14px 'roboto', sans-serif;
}

/*Region list*/
.dropdown-menu{
	top: auto;
	bottom: 100%;
	left: 36px;
	padding: 0;	
	border: none;
	cursor: pointer;
	box-shadow: none;
}
 
.sidemenu .selected-region{
	width: 180px;
	padding: 9px 10px;
	border-radius: 4px;
	margin: 0 auto;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	display: block;
	text-align: left;
	position: relative;
	z-index: 2000;
	cursor: pointer;
}

.dropdown-menu li {
	width: 180px;
}
.open .selected-region{
	background: #10101F;
	border:1px solid transparent;
	border-radius: 0 0 5px 5px;
}
.dropdown .arrow{
	float: right;
	background: url(../img/sprites-reg.png) no-repeat -21px -162px;
	width: 12px;
	height: 7px;
	margin: 4px 2px;
}
.dropdown-menu li a{
	color: #fff;
	font-size: 14px;
	padding: 14px;
	display: block;
	padding: 12px 14px;
}
.region li a{
	
}
.dropdown-submenu .region{
	border-radius: 4px 0 0 4px;
	top:0;
	left: -200%;
	margin: 0 0 0 -12px;
	width: 372px;
	letter-spacing: -0.3em;
	background: rgba(16,16,31, .97);
}
.dropdown-submenu.open .region{
	display: table;
	padding: 1px;
}

.region li {
	background: transparent;
	display: inline-block;
	letter-spacing: normal;
}
/*first level menu clcik, hiver and active*/
.dropdown-menu li a:hover,
.dropdown-menu li.open a:focus,
.dropdown-menu li.open a:active{
	background: rgba(16,16,31, .97);
	color: #fff;
}
.dropdown-menu li.open a:active,
.reg-list > li{
	background: rgba(16,16,31, .97);
}
.region-ic{
	background: url(../img/sprites-reg.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 17px;
	margin: -3px 9px 0 0;
	vertical-align: middle;
}
.kz{
	background-position: 0 -41px;
}
.aze{
	background-position: -33px -136px;
}
.tjk{
	background-position: -2px -143px;
}
.uz{
	background-position:  0 -21px;
}
.vnm{
	background-position: -2px -83px;
}
.ua{
	background-position:  0 -61px;
}
.ro{
	background-position: 0 -1px;
}
.ru{
	background-position: -2px -104px;
}
.mo{
	background-position: -3px -124px;
}
.sidemenu .dropdown{
	margin: 0 0 30px;
}
/*regions-list content section*/
.region-select-wrap{
	position: absolute;
	z-index: 3000;
	bottom: 5%;
	left: 15%;
}
.content .selected-region a,
.content .dropdown li{
	padding: 10px;
	font-size: 12px;
} 
.content .region-select-wrap .reg-list{
	left: 0;
	background: rgb(235,235,235);
}
.content .region-select-wrap .region{
	left: 0;
}

/*Social bar*/

.sidemenu .social ul{
	overflow: hidden;
}

.sidemenu .social li{
	float: left;
	width: 63px;
}

.sidemenu .social li:nth-child(even){
	background: #54595d;
}

.sidemenu .social li:nth-child(odd){
	background: #4e5559;
}

.sidemenu .social li:nth-child(even):hover{
	background: #44484B;
}

.sidemenu .social li:nth-child(odd):hover{
	background: #3B3F42;
}

.sidemenu .social .fa{
	color: #888b8e;	
	padding: 15px 20px;
}


 
/*----------------------------------CONTENT-------------------------------------*/
.slider-wrap{
	overflow: hidden;
	position: relative;
    z-index: 4;
}

.overlay{
	background: #fff;
	opacity: .9;
	width: 100%;
	height: 120%;
	position: absolute;
	z-index: 1;
}

.slide-content{
	position:absolute;
	max-width: 620px;
	max-height: 520px;
	padding: 25px 0 0;
	text-align: center;
	z-index:100;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.border{
	padding: 0 0 30px;
	margin: 0 0 30px;
	background: url(../img/border.png) center bottom no-repeat;
}

.slide-content img{
	margin: 0 0 30px;
	opacity: .6;
}

.slide-content h2{
	font: 50px "Roboto Light", sans-serif;
	text-transform: uppercase;
	color: #555;
}

.slide-content p{
	font: 20px "Roboto Light", sans-serif;
}

.slide-content .ff-roboto-reg{
	font: 17px "roboto regular", sans-serif;
}

.slide-content .big{
	font-size: 55px;
	margin: 0 0 25px;
}

.slide-content .medium {
	font-size: 42px;
}

.slide-content .small{
	font-size: 17px;
	margin: 0 0 10px;
}

.slide-content .btn{
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 35px;
	border-radius: 6px;
}

.slide-content .text-danger{
	color: #EF253F;
	font-size: 35px;
	margin: 0 0 30px;
}



/*-----------------------------------FOOTER-------------------------------------*/



















/*-----------------------------------FOOTER-------------------------------------*/
