.block{display: block !important;}
.inline{display: inline !important;}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 400 12px 'Roboto'; background:#fff; line-height:1.5; color:#333; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; color: #858585;}
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset , input, option, select { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font: 300 12px 'Roboto'; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
a:focus{
	outline: none;
}
p{
	line-height: 1.5;
}
a, .btn, button, input[type="button"]{
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4, h5{
	text-transform: uppercase;
}
.btn{
	display: inline-block;
	border-radius: 3px;
	padding: 13px 20px 14px;
}
body .btn-success{
	background: #007F5F;
	color: #fff;
	border: none;
}
body .btn-success:hover{
	background: #00674C;
	border: none;
}
a.btn-danger,
.btn-danger{
	background: #EF253F;
	border: 1px solid #EF253F;
	color: #fff;
}
.btn-danger:hover{
	background: #D52038;
}
.btn-default{
	border: 1px solid #EF253F;
	padding: 8px 19px;
	color: #666;
}
.btn-default:hover{
	background: #EF253F;
	color:#fff;
	border: 1px solid #EF253F
}
.text-danger{
	color: #EF253F;
}
.form-control:focus{
	border: 1px solid #ccc;
	box-shadow: none;
}


/*-------------------------------------WRAP-----------------------------------------*/
.container{
	max-width: 970px;
}
/*-------------------------------------HEADER---------------------------------------*/

/*--------------------------------------NAV-----------------------------------------*/
.navbar-fixed-top.affix{
	top: 0;
	min-height: 80px;
	background: rgba(255, 255, 255, 0.97);
}
.navbar-brand{
	height: auto;
	padding: 8px 0 0;
} 
.nav-menu ul{
	padding: 10px 0 0;
	line-height: 1.5;
}
.top-navbar{
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	padding: 17px 25px;
}
.bars-btn{
	float: right;
	background: transparent;
	margin: -2px 5px 0 30px;
}
.fa-bars{
	color: #9797A6;
	font-size: 31px;
	padding: 5px;
}
.nav-menu{
	text-align: center;
}
.top-navbar .nav-menu li{
	display: inline-block;
	margin-left: 45px;
}
.top-navbar .nav-menu li:first-child{
    margin-left: 0;
}
.top-navbar .nav-menu a{
	font-size: 15px;
	color: #333;
	padding: 0 0 2px;
	border: none;
}
.top-navbar .nav-menu a:hover,
.top-navbar .current-menu-item{
	background: none;
}
.nav-menu .current-menu-item a,
.nav-menu a:hover{
	border-bottom: 2px solid #ef2741;
}


/*SEARCH BOX STYLES*/

.searchbox{
	float: right;
	position: relative;
    min-width: 45px;
    height: 37px;
    overflow: hidden;
    width: 45px;
	border-radius: 4px;
	border: 1px solid #888B8E;
}
.animate{	
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -ms-transition: width 0.8s;
    transition: width 0.8s;
}
.searchbox-input{
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    height: 37px;
    margin: 0;
    padding: 9px 42px 9px 10px;
    font-size: 15px;
    overflow: hidden;
    display: none;
    transition: 2s;
} 

.searchbox-input::-webkit-input-placeholder {
    color: #888B8E;
}

.searchbox-input:-moz-placeholder {
    color: #888B8E;
}

.searchbox-input::-moz-placeholder {
    color: #888B8E;
}

.searchbox-input:-ms-input-placeholder {
    color: #888B8E;
}

.searchbox-icon,
.searchbox-submit{
    width: 45px;
    height: 38px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #9797A6;
    text-align: center;
    border-radius: 0;
    background: transparent;
    line-height: 3;
    border: none;
}
.searchbox-submit{

}
.searchbox-icon:hover,
.searchbox-submit:hover{
	background: #888B8E;
	color: #fff;
}

.searchbox .fa-search{
	font-size: 18px;
}

.searchbox-open{
    width: 150px;
}

/*-------------------------*/
.top-navbar .recall {
	float:right;
	border: 1px solid #EE253F;
	color: #EE253F;
	padding: 9px 10px;
	font: 14px 'Roboto',sans-serif;
	margin-right: 15px;
	max-height: 37px;
	width: 150px;
	overflow: hidden;
}

.recall:hover{
	background: #EF253F;
	color: #fff;
}

.recall .fa{
	display: none;
	font-size: 20px;
}

.top-navbar .small-section{
	width: 45px;
	height: 37px;
}

.small-section .fa{
    margin: -2px auto 0;
	display: block;
}

.small-section span{
	display: none;
}

/* SIDEMENU  */

.sidemenu-wrap{
	width: 256px;
	background: #4c5256;
	position: fixed;
	z-index: 2000;
	right: -256px;
	text-align: center;
	height: 100%;
	top: 0;
}

.sidemenu{
	position: relative;
	padding: 0 0 283px;
	height: 100%;
}

.wrap-close{
	display: block;
	text-align: right;
	padding: 25px 30px 0 0;
	margin: 0 0 10px;
}

.wrap-close a{
	display: inline-block;
	height: 28px;
	width: 26px;
	background:  url(../img/close-btn.png) no-repeat;
}

.side-nav{
	margin: 0 0 30px;
	padding: 0 0 30px;
}

.side-nav li {
	width: 180px;
	padding: 19px 0 ;
	margin: 0 auto;
	border-bottom: 1px solid #666;
}

.side-nav li:last-child{
	border: none;
}

.side-nav li a{
	font: 400 18px 'Roboto';
	color: #ddd;
}

.side-nav li a:hover{
	color: #EF253F;
}

/*Sidemenu Footer Section*/

.sidemenu footer{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #444;
	padding: 30px 0 0;
}

.sidemenu .recall{
	background: #EF253F;
	margin: 0 0 25px;
	padding: 10px 29px;
	color: #fff;
}

.sidemenu .recall:hover{
	background: #D01C34;
}

.sidemenu .input-group{
	width: 100%;
}

.sidemenu .search-form{
	margin: 0 0 20px;
}

.sidemenu .search-form fieldset{
	border: 1px solid #c0c2c3;
	display: inline-block;
	border-radius: 4px;
	padding: 10px 8px;
}

.sidemenu .search-form input{
	width: 140px;
}

.sidemenu .search-form input,
.sidemenu .search-form button{
	background: transparent;
	border: none;
	color: #c0c2c3;
	display: inline-block;
	font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form .search-icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background:  url(../img/search-icon.png);
	text-indent: -9999px;
}

.sidemenu .search-form input::-webkit-input-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input:-moz-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input::-moz-placeholder {
    font: 14px 'roboto', sans-serif;
}

.sidemenu .search-form input:-ms-input-placeholder {
    font: 14px 'roboto', sans-serif;
}

/*Region list*/
.dropdown-menu{
	top: auto;
	bottom: 100%;
	left: 36px;
	padding: 0;	
	border: none;
	cursor: pointer;
	box-shadow: none;
}
 
.sidemenu .selected-region{
	width: 180px;
	padding: 9px 10px;
	border-radius: 4px;
	margin: 0 auto;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	display: block;
	text-align: left;
	position: relative;
	z-index: 2000;
	cursor: pointer;
}

.dropdown-menu li {
	width: 180px;
}
.open .selected-region{
	background: #10101F;
	border:1px solid transparent;
	border-radius: 0 0 5px 5px;
}
.dropdown .arrow{
	float: right;
	background: url(../img/sprites-reg.png) no-repeat -21px -162px;
	width: 12px;
	height: 7px;
	margin: 4px 2px;
}
.dropdown-menu li a{
	color: #fff;
	font-size: 14px;
	display: block;
	padding: 10px 14px;
}
.dropdown-submenu .region{
	border-radius: 4px 0 0 4px;
	top:0;
	left: -200%;
	margin: 0 0 0 -12px;
	width: 372px;
	letter-spacing: -0.3em;
	background: rgba(16,16,31, .97);
}
.dropdown-submenu.open .region{
	display: table;
	padding: 1px;
}

.region li {
	background: transparent;
	display: inline-block;
	letter-spacing: normal;
}
/*first level menu clcik, hiver and active*/
.dropdown-menu li.open a:focus,
.dropdown-menu li.open a:active,
.reg-list > li{
	background: rgba(16,16,31, .97);
	color: #fff;
	text-decoration: none;
}
.region-ic{
	background: url(../img/sprites-reg.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 17px;
	margin: -3px 9px 0 0;
	vertical-align: middle;
}
.kz{
	background-position: 0 -41px;
}
.aze{
	background-position: -33px -136px;
}
.tjk{
	background-position: -2px -143px;
}
.uz{
	background-position:  0 -21px;
}
.vnm{
	background-position: -2px -83px;
}
.ua{
	background-position:  0 -61px;
}
.ro{
	background-position: 0 -1px;
}
.ru{
	background-position: -2px -104px;
}
.mo{
	background-position: -3px -124px;
}
.sidemenu .dropdown{
	margin: 0 0 30px;
}
/*regions-list content section*/
.region-select-wrap{
	position: absolute;
	z-index: 3000;
	bottom: 5%;
	left: 15%;
}
.content .dropdown-menu{
	min-width: 94px;
}
.content .dropdown .selected-region{
	display: block;
	cursor: pointer;
	padding: 10px;
}
.content .selected-region,
.content .dropdown>ul>li{
	font: 300 14px "Roboto";
	width: 104px;
} 
.content .dropdown-submenu .region li{
	width: 141px;
}
.content .dropdown-submenu .region{
	width: 286px;
}
.content .dropdown-menu li a {
	padding: 10px 4px 10px 12px;
	background: transparent;
}
.content .region-select-wrap .reg-list{
	left: 0;
	background: rgb(235,235,235);
	max-width: 104px;
}
.content .dropdown a {
	color: #333;
	font: 300 14px "Roboto";
	text-decoration: none;
}
.content .open .selected-region,
.content .dropdown-submenu{
	background: rgba( 255, 255, 255, .9);
}
.content .dropdown .arrow{
	float: none;
	display: inline-block;
}
.content .dropdown-submenu .region{
	left: 116px;
}
.region-ic{
	width: 24px;
	height: 14px;
}
.kz{
	background-position:-36px -86px;;
}
.aze{
	background-position: -36px -119px;
}
.tjk{
	background-position: -35px -52px;
}
.uz{
	background-position: -37px -103px;
}
.vnm{
	background-position: -35px -155px;
}
.ua{
	background-position:   -36px -69px;
}
.ro{
	background-position: -34px 0;
}
.ru{
	background-position: -34px -35px;
}
.mo{
	background-position: -34px -18px;
}
.content .dropdown-menu li a:hover,
.content .dropdown-menu li.open a:focus,
.content .dropdown-menu li.open a:active,
.content .region > li a,
.content .region{
	background: rgba(246, 246, 246, 1);
	color: #000;
}

/*    SOCIAL BAR   */
.sidemenu .social ul{
	overflow: hidden;
}
.sidemenu .social li{
	float: left;
	width: 63px;
}
.sidemenu .social li:nth-child(even){
	background: #54595d;
}
.sidemenu .social li:nth-child(odd){
	background: #4e5559;
}
.sidemenu .social li:nth-child(even):hover{
	background: #44484B;
}
.sidemenu .social li:nth-child(odd):hover{
	background: #3B3F42;
}
.sidemenu .social .fa{
	color: #888b8e;	
	padding: 15px 20px;
}
 
/*----------------------------------CONTENT-------------------------------------*/
.slider-wrap{
	overflow: hidden;
	position: relative;
    z-index: 4;
}

.overlay{
	background: #fff;
	opacity: .8;
	width: 100%;
	height: 120%;
	position: absolute;
	z-index: 1;
}

.slide-content{
	position:absolute;
	max-width: 620px;
	max-height: 520px;
	padding: 25px 0 0;
	text-align: center;
	z-index:100;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.border{
	position: relative;
}
.border:after{
	position: absolute;
	display: inline-block;
	content: "";
	width: 66px;
	height: 4px;
	background: #EF253F;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -33px;
}
.slide-content .border{
	padding: 0 0 30px;
	margin: 0 0 30px;
}
.slide-content img{
	margin: 0 0 30px;
	opacity: .6;
}
.slide-content h2{
	font: 50px "Roboto Light", sans-serif;
	color: #555;
}
.slide-content p{
	font: 20px "Roboto Light", sans-serif;
}
.slide-content .ff-roboto-reg{
	font: 17px "roboto regular", sans-serif;
}
.slide-content .big{
	font-size: 55px;
	margin: 0 0 25px;
}
.slide-content .medium {
	font-size: 42px;
}
.slide-content .small{
	font-size: 17px;
	margin: 0 0 10px;
}
.slide-content .btn{
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 35px;
	border-radius: 6px;
}
.slide-content .text-danger{
	color: #EF253F;
	font-size: 35px;
	margin: 0 0 30px;
}

/*    SLIDER PAGINATION     */
.slider-pagination{
	position: relative;
    left: 0;
    top: 90%;
    text-align: center;
}
.slider-pagination ul{
	margin: 0 0 0 -60px;
	overflow: hidden;
}
.slider-pagination li{
	position: relative;
	display: inline-block;
	margin: 0 0 0 60px;
}
.slider-pagination a{
	position: relative;
	width: 17px;
	height: 17px;
	border: 2px solid #CACAD9;
	border-radius: 50%;
	display: inline-block;
}
.slider-pagination li:before,
.slider-pagination li:after, 
.slider-pagination a:after {
	content: "";
	position: absolute;
	display: inline-block;	
}
.slider-pagination li:before,
.slider-pagination li:after{
	width: 62px;
	height: 2px;
	background:  #CACAD9;
	top: 8px;
	left: 17px;
}
.slider-pagination .activeSlide:after{
	background: #E7453A;
	width: 3px;
}
.slider-pagination li:last-child:before,
.slider-pagination li:last-child:after{
	display: none;
}
.slider-pagination li.activeSlide a:after{
	width: 5px;
	height: 5px;
    top: 4px;
    left: 4px;
	background: #4C5256;
	border-radius: 50%;
}
.slider-pagination .activeSlide a{
	border-color: #E7453A;
}
.slider-pagination .viewed{
	background: #000;
}




/*---------------     INNER PAGE'S STYLES   ---------------*/
/*---------------------------------------------------------*/

/*                                ПРО КОМПАНІЮ              */

video, object {
	position:absolute;
	z-index: -1;
}
.screen{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
 }
.screen:after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	
		/*gradient video bg*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA3ZjVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #007f5f 0%, #006666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#007f5f), color-stop(100%,#006666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* IE10+ */
	background: linear-gradient(135deg, #007f5f 0%,#006666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#006666',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    opacity: .75;
    z-index: -1;
}

/*  subnav   */
.subnav-wrap {
	position: absolute;
	bottom: 18px;
	text-align: center;
	width: 100%;
	z-index: 100;
}
.sub-nav {
	position: absolute;
	text-align: center;
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
  	z-index: 100;
  	height: 83px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.sub-nav ul{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.sub-nav ul:before,
.sub-nav ul:after{
	position: absolute;
	display: inline-block;
	content: "";
	width: 1000px;
	bottom: 29px;
	height: 1px;
	background: #fff;
}
.sub-nav ul:before{
	right: 87%;
}
.sub-nav ul:after{
	left: 86%;
}
.sub-nav li {
	position: relative;
	display: table-cell;
	padding: 0 15px 25px;
	z-index: 150;
    margin: 0;
	overflow: hidden;
}
.sub-nav li a{
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 0 0 28px;
}
.sub-nav a span{
	display: inline-block;
	position: absolute;
  	z-index: 1000;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	border-radius: 50%;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sub-nav .current-menu-item span,
.sub-nav a:hover span{
	width: 16px;
	height: 16px;
	margin: 0 0 -2px;

}
.sub-nav .current-menu-item span:before,
.sub-nav a:hover span:before,
.sub-nav .current-menu-item span:after,
.sub-nav a:hover span:after{
	bottom: 6px;
}
.sub-nav .current-menu-item a:after,
.sub-nav a:hover:after{
	display: inline-block;
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	background: #fff;
	bottom: 3px;
	left: 50%;
    transform: translateX(-50%);
	border-radius: 50%;
}
.sub-nav a:hover:after{
	left: 50%;
	margin: 0 -1px 0 0;
	transform: translateX(-50%);
}

.sub-nav li span:before{
	left: -100px;
}
.sub-nav li span:after{
	right: -100px;
}
.sub-nav li span:before,
.sub-nav li span:after{
  position: absolute;
  z-index: 100;
	content: "";
	width: 100px;
	height: 1px;
	background: #fff;
	bottom: 4px;
}

.screen h1{
	text-align: center;
	color: rgba(255,255,255, .9);
	font: 900 85px "Roboto";
	padding: 80px 0 60px;
}



.about .mission,
.about .production{
	padding: 80px 0;
	background: url(../img/activity/bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	border-bottom: 1px solid #D9D9D9;
}
.about .post{
	padding: 116px 0 130px;
	border-bottom: 1px solid #D9D9D9;
}
.about h2{
	position: relative;
	font: 700 35px "Roboto";
	margin: 0 0 15px; 
 	display: inline-block;
 	max-width: 700px;
 	color: #007F5F;
 	padding: 0 0 35px;
}
.mission  p{
	font: 300 20px "Roboto";
}
.about .post img{
	margin: 0 auto;
}
.about .post h3{
	font: 500 29px "Roboto";
	margin: 0 0 24px;
}
.about .post p{
	font-size: 18px;
	margin: 0 0 18px;
}
.about .post p b{
	font-weight: 400;
}
.about .post p a{
	color: #00A3D8;
	font-size: 18px;
}
.about .innovation{
	font-size: 16px;
}
.about .innovation ul li{
	position: relative;
	padding: 0 12px;
}
.about .innovation ul li:before{
	position: absolute;
	display: inline-block;
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #007F5F;
	left: 0;
	top:12px;
}
.about .distribution{
	text-align: center;
	padding: 60px 0 105px;
	background: #eee;
	
}
.distribution section .container{
	position: relative;
	height: 710px;
	padding: 60px 0 0;
	background: url(../img/activity/distribution.jpg) center no-repeat;
	background-size: 100%;	
}
.about .distribution .text-wrap{
	position: absolute;
	left: 100px;
	bottom: 150px;
	width: 300px;
	border-left: 2px solid #EF253F;
	padding: 0 0 0 16px;
	text-align: left;
}
.distribution .text-wrap p{
	font-size: 15px;
	margin: 0 0 15px;
}
.distribution .text-wrap b{
	font-weight: 500;
}
.distribution .text-wrap p:last-child{
	margin: 0;
}


/*                        History                */
 
.carousel.vertical{
	position: relative;
	max-width: 700px;
	max-height: 650px;
	margin: 0 auto;
	height: 100%;
}
.carousel.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
	left: 0;
	height: 100%;
	background: #ddd;
	padding: 110px 0;
	text-align: center;

	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition:    0.6s ease-in-out top;
	-ms-transition:     0.6s ease-in-out top;
	-o-transition:      0.6s ease-in-out top;
}
.carousel h2{
	font: 900 95px "Roboto";
	color: #EE253F;
	margin: 0 0 20px;
}

.carousel p {
	font: 400 17px 'Roboto';
	color: #333;
	margin: 0 0 15px;
}

.carousel-control{
	max-height:40px;
}
.carousel.vertical .up{
	top: 20px;
}
.carousel.vertical .down{
	bottom: 20px;
}
.carousel.vertical .active,
.carousel.vertical .next.left,
.carousel.vertical .prev.right  {
	top: 0; 
}
.carousel.vertical .next,
.carousel.vertical .active.right{
	top: 100%; 
}
.carousel.vertical .prev,
.carousel.vertical .active.left {
	top: -100%; 
}



/*             QA  STYLES        */
.qa .section-content{
	max-width: 700px;
	margin: 0 auto;
	padding: 80px 0 120px;
}
.qa p{
	color: #333;
	font: 300 14px "Roboto";
	line-height: 1.5;
}
.qa h2{
	font: 900 35px "Roboto";
	color: #EE253F;
	margin: 0 0 10px;
} 
.qa h2 span{
	color: #999;
	font: 400 15px "Roboto";
	display: block;
	padding: 5px 0 0;
}
.qa .content{
	text-align: center;
}
.qa .excerpt{
	margin: 0 0 85px;
}
.qa .excerpt p{
	color: #666;
	font-size: 20px;
}
.qa .section-post{
	margin: 0 0 73px
}


/*         PHYLOSOPHy          */
.phylosophy .section-content{
	padding: 80px 0 ;
}
.phylosophy h2{
	position: relative;
	font: 400 20px "Roboto";
	padding: 0 0 20px;
	margin: 0 0 50px;
	text-align: center;
}
.phylosophy img{
	margin: 0 auto;
}
.phylosophy h3{
	font-size: 35px;
	color: #666;	
	margin: 0 0 30px;
}
.phylosophy h3 span{
	display: block;
	color: #007F5F;
	font:500 65px 'Roboto';
	position: relative;
}
.phylosophy .excerpt{
	text-align: center;
	font-size: 20px;
	padding:  0 0 95px;
}
.phylosophy .excerpt h3{
	margin: 0 0 15px;
	font-weight: 300;
}
.phylosophy .solve{
	padding: 0 0 115px;
}
.phylosophy .mission h3{
	padding: 54px 0 0;
}
.phylosophy .potencial{
	padding: 110px 0 125px;
}
.phylosophy .vission{
	padding: 60px 0 95px;
	text-align: center;
}
.phylosophy .gratitude{
	padding: 100px 0 118px;
}
.phylosophy .innovation{
	padding: 80px 0 100px;
}
.phylosophy .vission span>span{
	display: inline-block;
	position: absolute;
	height: 8px;
	width: 8px;
    top: 50%;
    left: 240px;
	background: #007F5F;
}
.phylosophy .vission h3{
	font-weight: 300;
	font-size: 27px;
	line-height: 1.5;
}
.phylosophy .worth {
	text-align: center;
	font-size: 17px;
	padding: 65px 0 115px;
}
.phylosophy .worth .col-sm-4{
	margin: 0 0 55px;
}
.phylosophy .worth  h3{
	font-size: 25px;
	color: #007F5F;
}
.phylosophy .post,
.phylosophy .excerpt{
	border-bottom: 1px solid #ddd;
}
.phylosophy .content .btn{
	padding-right: 14px;
}
.phylosophy .content .btn span{
	background: url(../img/chevron.png) no-repeat -10px 0;
	display: inline-block;
	width: 8px;
	height: 10px;
	margin: 0 0 0 5px; 
}
.phylosophy .content .btn:hover span{
	background: url(../img/chevron.png) no-repeat 0 0
}


/*      PERSONNEL        */
.personnel .content{
	padding: 0 0 110px;
}
.personnel .screen{
	margin: 0 0 80px;
}
.personnel p{
	text-align: center;
	color: #333;
	font-size: 20px;
}
.personnel h2{
	font: 300 35px 'Roboto';
	color:#666;
	text-align: center;
	margin: 0 0 25px;
}
.personnel h2 span{
	font: 600 65px "Roboto";
	color: #007F5F;
	display: block;
}
.personnel .workers-count{
	font-size: 29px;	
	margin: 0 0 85px;
}
.workers-count .counter{
	font: 900 120px "Roboto";
 	color: #EF253F;
}
.personnel .statistic{
	font: 400 15px "Roboto";
	padding: 90px 0 0;
}
.personnel .statistic h3{
	font: 300 15px "Roboto";
	color: #868686;
	text-align: center;
	margin: 0 0 10px;
}
.personnel .statistic .icon{
	background: url(../img/personel/person-spr.png) no-repeat;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.personnel .statistic .fam{
	width: 60px;
	height: 48px;
    left: 0;
	background-position: -50px -5px;
}
.personnel .statistic .child{
	width: 35px;
	height: 40px;
    left: 22px;
	background-position: -5px -6px;
}
.personnel .statistic .men{
	width: 20px;
	height: 53px;
	left: 34px;
	background-position: -120px -5px;
}
.personnel .statistic .women{
	width: 20px;
	height: 49px;
	left: 34px;
	background-position: -150px -6px;
}
.personnel .bracket{
	position: relative;
	overflow: hidden;
	padding: 0 0 75px;
	margin: 0 0 25px;
}
.personnel .bracket:after{
	position: absolute;
	content: "";
	display: inline-block;
	max-width: 708px;
	height: 50px;
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/personel/bracket.png) center bottom no-repeat;
	background-size: 100%;
}

/*     styles fir skillbars       */
.easy-pie-chart {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 280px;
  height: 150px;
}
.easy-pie-chart canvas {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
}
.easy-pie-chart .percent-container {
  position: absolute;
  top: 26px;
  left: 3px;
  display: block;
  text-align: center;
  width: 100%;
  color: #EE253F;
  font: 900 68px "Roboto";
}
.easy-pie-chart .info {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
}
.personnel .children .percent-container{
	font-size: 45px;
    top: 45px;
    left: 0px;
}
.personnel .children .percent span{
	display: none;
}
.percent span{
	color: #EE253F;
	font-size: 20px;
}



/*         RESPONSIBILIY style         */

.responsibility .section-content{
	padding: 105px 0;
}
.responsibility .section-content img{
	margin: 0 auto 35px;
}
.responsibility p {
	font: 300 20px "Roboto";
	color: #333;
	padding: 0 25px;
	line-height: 1.5;
}
.responsibility .section-content .btn{
	margin: 55px 0 0; 
	font-size: 15px;
	width: 200px;
}




/*  LIBRARY  style   */
.library .wrap{
	padding: 113px 0;
}
.library .content{
	padding: 0;
}
.library h1{
	font: 30px 'Roboto';
	color: #007F5F;
}
.heading-border{
	position: relative;
	text-align: center;
	margin: 0 0 40px;
}
.heading-border:before{
	display: inline-block;
	content: "";
	position: absolute;
	width: 100px;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	background: #ddd;
	z-index: -1;
}
.heading-border h1{
	color: #007F5F;
	padding: 0 30px;
	display: inline-block;
	background: #fff;
}
.library .h2,
.library h1{
	color: #007F5F;
}
.library .h2{
	font: 500 25px 'Roboto';
}
.library p {
	font-size: 15px;
	overflow: hidden;
}
.library p b{
	font-weight: 600;
}
.library article{
	margin: 0 0 45px;
}
.library article header{
	margin: 0 0 20px;
}
.library article section{
	overflow: hidden;
	padding: 0 0 30px;
}
.library img{
	float: left;
	margin: 0 35px 0 0;
}
.library .content .btn{
	color:#fff;
	padding: 5px 15px;
	font:400 12px 'Roboto';
}
.pagination-wrap ul li{
	display: inline-block;
	margin: 0 10px 0 0;
	border: 1px solid #ddd;
	border-radius: 4px;

    transition: background .2s;
} 
.pagination-wrap li a,
.pagination-wrap li span{
	display: inline-block;
	padding: 3px 10px;
	font: 300 18px 'Roboto';
	color: #666;
	background: transparent;
}
.pagination-wrap li span{
	color: #fff;
}
.pagination-wrap li:hover ,
.pagination-wrap .active{
	background: #007F5F;
}
.pagination-wrap li:hover a{
	color: #fff;
}
.pagination-wrap li:last-child:hover ,
.pagination-wrap li:first-child:hover {
	background: #ddd;
}
/*      Sidebar Filter styles         */
.sidebar{
	padding: 10px 0 0 ;
	width: 264px;	
}
.sidebar-search{
	margin: 0 0 32px;
}
.sidebar-search .input-group{
	width: 262px;
}
.sidebar-search .btn{
	padding: 8px 0;
	width: 48px;
}
.sidebar-search .form-control{
	height: 36px;
}
.sidebar h3{
	position: relative;
	font:400 17px "Roboto";
	color: #777;
	text-align: center;
	padding: 0 0 7px;
	margin: 0 0 20px;
}
.sidebar .filter{
	border: 1px solid #ddd;
	padding: 20px 18px 32px;
}
.load-more{
	padding: 50px 0 0;
	margin: 0 0 50px;
	text-align: center;
}
.load-more a{
	display:inline-block;
	text-align: center;
	font:400 12px 'Roboto';
	color: #007F5F;
}
.load-more .loader{
	display: block;
	background: url(../img/loader.png) no-repeat;
	width: 64px;
	height: 64px;
	margin: 0 auto 12px;
	transition: transform 0.7s;
}
.load-more a:hover .loader{
	background: url(../img/loader-h.png); 
	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);
}

/*selects styles*/
.select-hidden {
  display: none;
}
select{
	padding: 20px;
	display: none;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: 400 14px "Roboto";
  width: 227px;
  height: 40px;
}
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	font: 400 14px "Roboto";
	color: #858585;
	background: #F6F6F6;
	padding: 8px 15px;

	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.select-styled:after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 7px;
	position: absolute;
	top: 16px;
	right: 10px;
	background: url(../img/caret.png) no-repeat 0 0;
}
.select-styled:hover {
  background: #F6F6F6;
}
.select-styled:active,
.select-styled.active,
.select-styled:hover {
	background: #F6F6F6;
}
.select-options {
	display: none;
	position: absolute;
	top: 35px;
	right: 0;
	left: 0;
	z-index: 999;
	max-height: 353px;
	padding: 0 10px;
	overflow: scroll;
	background: #F6F6F6;
}
.select-options li {
	margin: 0;
	padding: 10px 6px;
	font: 400 13px "Roboto";
	color: #525252;
	border-bottom: 1px solid #EEE;
}
.select-options li:last-child{
	border:none;
}
.select-options li[rel="hide"] {
    display: none;
}
/*-----------------------------------------*/


/* PRoDUCTION SEARCH STYLE */
.production-s video,
.production-s .overlay{
	position: fixed;

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA3ZjVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #007f5f 0%, #006666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#007f5f), color-stop(100%,#006666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #007f5f 0%,#006666 100%); /* IE10+ */
	background: linear-gradient(135deg, #007f5f 0%,#006666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#006666',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    opacity: .87;
}

.production-s .content{
	position: relative;
	padding: 90px 0 0;
	z-index: 2;
}
.production-s h1,
.products h1{
	text-align: center;
	font: 300 30px "Roboto";
	color:#fff;
	margin: 0 0 40px;
}
.production-s h1:before,
.production-s h1:after,
.products h1:before,
.products h1:after{
	content: "";
	position: relative;
	display: block;
	border-bottom: 1px solid #fff;
	width: 40%;
	top:21px;
	left: 0;
	height: 1px;
}
.production-s h1:after,
.products h1:after{
	left: 60%;
	top: -18px;
}
.production-s .main-search{
	margin: 0 0 45px;
} 
.production-s .search-list{
	margin: 0 -30px 0;
	overflow: hidden;
}
.production-s .search-list>li{
	position: relative;
	max-width: 263px;
	width: 100%;
	float: left;
	margin: 0 30px 30px;
}
.production-s .search-list>li>a{
	font:500 16px "Roboto";
	margin: 0 0 15px;
	color: #fff;
}
.production-s .search-list .submenu>li>a{
	font:400 13px "Roboto";
	display: inline-block;
	padding: 0 0 10px;
	color: #fff;
}
.production-s .search-list .border{
	padding: 0 0 6px;
	display: block;
}
.production-s .search-list .border:after{
	left: 0;
	height: 3px;
	width: 20px;
	margin: 0;
}


/*             SEEARCH PAGE STYLE       */
.searchpage .wrap{
	padding: 107px 0 114px;
}
.searchpage h1{
	font:400 30px "Roboto";
	text-align: center;
}
.searchpage h1,
.searchpage .h2{
	color: #007F5F;
}
.searchpage .h2{
	font: 500 25px "Roboto";
}
.main-search {
	margin: 0 0 20px;
}
.main-search .btn{
	padding: 12px 33px;
}
.main-search .form-control{
    padding: 22px 10px;
}
.search-count{
	color: #333;
	font: italic 100 15px "Roboto";
	padding: 0 0 50px;
}
.search-count span{
	font: italic 500 20px "Roboto";
}
.search-results h2{
	overflow: hidden;
	margin: 0 0 25px;
}
.search-results article p{
	font-size: 15px;
	overflow: hidden;
}
.search-results article .tag{
	padding: 5px 15px;
	background: #eee;
	color: #868686;
	border-radius: 3px;
}
.search-results article footer{
	margin: 25px 0 50px;
}
.search-results article img{
	float: right;
	margin: 0 0 0 20px; 
}


/* ARTICLE PAGE STYLE*/
.article .wrap{
	padding: 105px 0 115px;
}
.article .sidebar .post-info{
	overflow: hidden;
	text-align: right;
}
.article .sidebar .author{
	display: table-row;
    font: 400 14px "Roboto";
}
.article .author span{
	display: table-cell;
	font-weight: 300;
	padding: 0 0 25px;
}
.article .sidebar .date{
	font: 300 12px "Roboto";
	font-style: italic;
}
.article .sidebar .date span{
	font-weight: 400;
}
.article .content{
	padding: 0;
}
.article h1{
	text-align: center;
	font: 300 30px "Roboto";
	color: #007257;
}
.article .content{
	font: 300 15px "Roboto";
}
.article h2{
	font: 500 17px "Roboto";
	margin: 0 0 20px;
}
.article p{
	margin: 0 0 30px;
}
.article p b{
	font-weight: 500;
}
.article p a{ 
	font:300 15px "Roboto";
	color: #00A3D8;
	text-decoration: underline;
}
blockquote{
	font:400 15px "Roboto";
	font-style: italic;
	color: #999;
	padding: 23px 10px 20px 23px;
	line-height: 1.5;
	margin: 0 0 35px 25px;
	border-left: 5px solid #EF253F;
}
.article .content img{
	margin: 0 0 30px;
}
.article .content ol{
	margin: 0 0 15px;
}
.article .content li{
	margin: 0 0 20px;
}
.article .content ol li{
	position: relative;
	margin: 0 0 15px;
}
ol {
    counter-reset: my-counter;
}
ol li:before {
	position: absolute;
	top: 2px;
    left: -20px;
    content: counter(my-counter)   '.' ;
    counter-increment: my-counter;
    font-weight: bold;
}
.btn.download{
	font: 400 15px "Roboto";
	padding-left: 62px;
	background:#007F5F url(../img/download.png) no-repeat 20px center; 
}
.btn.download:hover{
	background: #00674C url(../img/download.png) no-repeat 20px center; 
}



/*   Фармаконагляд    */

.farmac	.content{
	text-align: center;
	padding: 105px 54px 115px;
}
.farmac h1{
	font:300 30px "Roboto";
	color: #007257;
}
.farmac h2 {
	font: 300 35px "Roboto";
	color: #666;
	padding: 0 0 35px;
	margin: 0 0 35px;
}
.farmac h2 span{
	font: 500 65px "Roboto" ;
	display: inline-block;
	color: #007F5F;
}

.farmac .section-content .huge{
	font: 300 20px "Roboto";
	color: #333;
	margin: 0 0 30px;
}
.farmac .section-content p{
	font:300 15px "Roboto";
}
.msg-section{
	margin: 65px 0 0;
	padding: 40px 23px 40px 34px;
	font:300 15px "Roboto";
	border: 1px solid #ddd;
	border-radius: 10px;
    box-shadow: 1px 3px 13px -6px;
}
.farmac .msg-section>p{
	margin: 0 0 40px;
}
.farmac .msg-section h3{
	text-transform: none;
	font: 500 21px "Roboto";
	color: #525252;
	margin: 0 0 33px;
}
.farmac .msg-section .btn{
	font-size: 15px;
	width: 264px;
	margin:  0 20px 0 0
}
.farmac .contacts-section{
	padding: 40px 0 30px;
}
.farmac .contacts-section .contacts{
	font: 500 13px "Roboto";
	color: #444;
	margin: 0 0 10px;
}
.farmac .contacts-section a{
	font:500 17px "Roboto";
	color: #007F5F;
}
.farmac .contacts-section footer p{
	font-style:italic;
	text-align: center;
}
.farmac .msg-section footer p{
	margin: 0 0 25px;
}



/*   PRODUCTION STYLE PAGE   */
.products{
	background: #EEEFEF url(../img/product/bg.jpg) no-repeat;
	background-size: 100%;
}
.products .wrap{
	padding: 150px 0 0;
}
.products h1{
	color: #007F5F;
}
.products h1:before,
.products h1:after{
    border-bottom: 1px solid #ccc;
}
.products .thumb{
	position: relative;
}
.products .post{
	background: #fff;
	border: 1px solid #ddd;
	padding: 35px 20px 25px 15px;
	margin: 0 0 12px;
}
.products .post h3{
	text-transform: none;
	color: #007F5F;
	margin: 0 0 15px; 
}
.products .thumb{
	text-align: center;
}
.products .thumb .label{
	display: block;
	position: absolute;
	top: -35px;
	left: 32px;
	background: #FF665E;
	padding: 7px 9px 5px;
}
.products .thumb .label:before{
	display: inline-block;
	position: absolute;
	content: "";
    top: 21px;
    left: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 10px solid #FF665E;
}
.products .excerpt{
	padding: 0 0 20px;
}
.products .post p{
	font:300 15px "Roboto";
}
.products .filter{
	background: #fff;
}
.edition-form li{
	display: inline-block;
	margin-left:10px;
	color: #AAA;
}
.edition-form .icon{
	display: block;
	margin: 0 auto 5px;
	background: url(../img/product/edition-spr.png) no-repeat;
}
.edition-form .bottle-250ml{
	background-position: -1px -8px;
	width: 13px;
	height: 38px;
}
.edition-form .bottle-400ml{
	background-position: -23px -3px;
	width: 20px;
	height: 43px;
}
.edition-form .pack-250ml{
	background-position: -49px -2px;
	width: 15px;
	height: 45px;

}
.edition-form .pack-400ml{
	background-position: -70px -1px;
	width: 27px;
	height: 46px;
}
.edition-form,
.markets{
	overflow: hidden;
}
.edition-form .edition-heading,
.panel-title a,
.markets-heading{
	position: relative;
	z-index: 5;
	display: inline-block;
    padding: 0 0 10px;
    border-bottom: 3px solid #EF253F; 
    text-transform: none;
    font: 500 15px "Roboto";
    color: #525252;
    margin: 0 0 15px;
}
.edition-form .edition-heading:after, 
.panel-title a:after,
.markets-heading:after{
	content: "";
	position: absolute;
	z-index: 1;
	width: 970px;
	bottom: -2px;
	left:0;
	border-bottom: 1px solid #EEE;
}
.products .filter-menu>li{
	border-bottom: 1px solid #eee;
}
.products .filter-menu>li:last-child{
	border:none;
}
.products .filter-menu>li>a{
	padding: 15px 0;
	display: inline-block;
	font: 500 15px "Roboto";
	color: #007F5F;
}
.products .filter-menu .submenu>li>a{
	display: inline-block;
	font: 400 13px "Roboto";
	padding: 0 0 10px 10px;
	color: #525252;
}


/*     Career  page style         */
.career .btn-default{
	font: 400 12px "Roboto";
	color: #EE253F;
    padding: 6px 19px 7px;
}
.career .btn-default:hover{
	color: #fff;
}
.career .post{
	padding: 30px 0 50px;
	border-bottom: 1px solid #DDD;
}
.career .post h2{
	padding: 0 0 15px;	
}
.career .post .h2{
	font: 500 25px "Roboto";
	color: #007F5F;
}
.career .post .location{
	font: 500 15px "Roboto";
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
	border-right: 2px solid #EC253F;
}
.career .post-info{
	margin: 0 0 30px;
}
.career .post .post-date{
	font-size: 13px;
	color: #999;
}
.career .post .btn-success{
	max-width: 198px;
	width: 100%;
	font: 400 15px "Roboto";
	padding: 12px 25px;
}
.career .post h3{
	display: inline-block;
	padding: 0 0 5px;
	border-bottom: 3px solid #EF253F; 
	margin: 0 0 15px;
}
.career .post .h3{
	font: 500 15px "Roboto";
	text-transform: none;
	color: #525252;
}
.career .post ul li{
	position: relative;
	padding: 0 0 0 10px;
	font: 300 15px "Roboto";
	margin: 0 0 10px;
}
.career .post ul li:before{
	position: absolute;
	top:9px;
	left: 0;
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #007F5F;
	z-index: 10;
}
.career .post h3+p{
	margin: 0 0 40px;
}
.career .msg-section p{
	margin: 0 0 25px;
}
.career .post .excerpt{
	margin: 0 0 25px;
}
.career .post .btn-close{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #DDD;
	margin: 0 auto;
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/cls-btn.png) center center no-repeat;
}
.career .post .msg-section{
	padding: 40px 50px;
	margin: 0 0 20px;
}
.btns-wrap{
	display: block;
	text-align: center;
}

/*               Single product pag STYLE        */

.single-product .content{
	padding: 110px 0 120px;
	font: 300 15px "Roboto";
}
.single-product .content p{
	margin: 0 0 25px;
}
.single-product .content img{
	margin: 0 auto 54px;
}
.single-product .btn{
	max-width: 265px;
	width: 100%;
	margin: 0 0 12px;
	font:400 15px "Roboto";
}
.panel{
	box-shadow: none;
}
.panel-body{
	padding: 0;
}
.panel-heading{
	padding: 0;
	overflow: hidden;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, 
.panel-group .panel-heading+.panel-collapse>.list-group {
    border: none;
}
.single-product .article-list li{
	padding: 0 0 15px;
}
.single-product .article-list a{
	text-transform: uppercase;
	font: 400 13px "Roboto";
	color: #555;
}